:root {
    --primary-color: rgb(235, 219, 245);
    --secondary-color: rgb(57, 0, 101);
}

body {
    background-color: var(--primary-color);
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: var(--secondary-color)
}

h1, h2, h3, h4, h5, p, a, ul, label, button {
    font-family: Arial;
    color: var(--secondary-color);
}

h1 {
    font-weight: 750;
}

a {
    font-size: 15pt;
}

footer {
    box-shadow: 0 -1px 7px var(--secondary-color);
}

.topnav {
    overflow: hidden;
    border-bottom: var(--secondary-color);
    border-bottom: solid;
    border-width: 1px;
    height: 70px;
    background-color: var(--primary-color);
}

.topnav a {
    float: left;
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 14px 16px;
    font-family: Arial;
}

.company {
    font-size: 30pt;
    font-weight: 750;
}

.button:hover {
    box-shadow: 5px 5px var(--secondary-color);
    transform: translate3d(-2px, -2px, 0);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: var(--secondary-color);

}

.button {
    all: unset;
    font-family: Arial;
    transition: transform 0.3s;
    color: var(--secondary-color);
    background-color: none;
    border-radius: 10px;
    height: 50px;
    font-size: 15pt;
    padding: 5px;
}

#searchButton {
    float: left;
    display: block;
    text-align: center;
    height: 38px;
    width: 38px;
    padding-top: 3px;
    margin-left: 10px;
    font-size: 22pt;
}


nav .button {
    margin-top: 7.5px;
    margin-right: 5px;
    height: 25px;
    padding-top: 7.5px;
}

.selection .button {
    padding-top: 0px;
    height: 38px;
}

#basketImage {
    width: 40px;
    height: 100%;
    margin-top: 15px;
    margin-left: 34.5%;
    margin-right: 0;
    border-radius: 10px;
}

.topnav ul a {
    float: right;
    display: block;
    color: var(--secondary-color);
    text-align: center;
    padding: 14px 16px;
}

.selection {
    overflow: hidden;
    box-shadow: 0px 3px 5px var(--secondary-color);
    background-color: var(--primary-color);
}

.selection input[type=text] {
    float: left;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 16px;
    font-size: 17px;
}

.selection input:focus {
    outline:none;
}

.yarn, .fabric, .paint, .Tool {
    float: right;
    overflow: hidden;
    transition: transform 0.1s;
    margin-top:8px;
    border-radius: 10px;
}

.about {
    float: right;
    overflow: hidden;
    transition: transform 0.1s;
    margin-top:8px;
    border-radius: 10px;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    border:none;
}

.yarn {
    margin-right: 5px;
}

.dropbtn {
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    border:none;
}

.yarn-selection, .fabric-selection, .paint-selection, .Tool-selection {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.yarn-selection a, .fabric-selection a, .paint-selection a, .Tool-selection a {
    float: none;
    color: var(--secondary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.yarn-selection a:hover, .fabric-selection a:hover, .paint-selection a:hover, .Tool-selection a:hover {
    background-color: var(--primary-color);
}

.yarn:hover .yarn-selection, .fabric:hover .fabric-selection, .paint:hover .paint-selection, .Tool:hover .Tool-selection {
    display: block;
}

#productContainer {
    display: table;
    overflow: hidden;
    margin: auto;
    width: 750px;
    margin-top: 30px;
    border-spacing: 25px;
}

.productRow {
    display: table-row;
}

.product {
    display: table-cell;
    width: 225px;
    border-radius: 10px;
    padding: 0;
    overflow: hidden;
    transition: transform 0.2s;
}

.product:hover {
    box-shadow: 7.5px 7.5px var(--secondary-color);
    border-style: solid;
    border-color: var(--secondary-color) + 2d;
    border-width: 1px;
    transform: translate3d(-3px, -3px, 0);
}

.productName {
    font-family: Arial;
    font-weight: 600;
    font-size: 15pt;
    margin: 5px;
}

.productImage {
    width: 225px;
    height: 200px;
}

.productInfo {
    margin: 5px;
    font-family: Arial;
    font-size: 12pt;
    color: var(--secondary-color);
}

.productClick {
    animation-name: productClick;
    animation-duration: 0.4s;
    animation-timing-function: linear;
}

@keyframes productClick {
    40% {transform: translate3d(3.3px, 3.3px, 0);}
    100% {transform: translate3d(3px 3px 0);}
}

#heroProductContainer {
    display: table;
    overflow: hidden;
    margin: auto;
    width: 750px;
    margin-top: 30px;
}

#heroProductName {
    display: table-row;
    text-align: left;
    font-family: Arial;
    font-weight: 700;
    font-size: 30pt;
}

#heroProductImages {
    display: table-cell;
    width: 350px;
}

#heroProductHeroImage {
    height: 350px;
    width: 350px;
}

#heroProductOtherImagesBox {
    display: block;
    float: none;
}

.heroProductOtherImage {
    height: 50px;
    width: 50px;
}

#heroProductPurchasing {
    width: 350px;
    padding: 20px;
    margin: auto;
    transform: translateY(-150px);
}

#heroProductInfo {
    color: var(--secondary-color);
    display: table-cell;
    width: 400px;
    padding-left: 10px;
    transform: translateY(-300px);
    text-decoration: none;
}

#quantitySelector {
    height: 50px;
    width: 200px;
    padding:0;
    transform: translateX(100px);
}

#quantity, #quantityDown, #quantityUp {
    display: inline;
    float: left;
    height: 50px;
    text-align: center;
    padding-top: 8px;
    font-family: Arial;
    font-size: 10pt;
    border-radius: 10px;
}

#quantity {
    width: 80px;
    border-style: solid;
    border-width: 2px;
}

#quantityDown, #quantityUp {
    width: 50px;
}

#quantityDown {
    margin-right: 10px;
}

#quantityUp {
    margin-left: 10px;
}

#addToCart, #buy {
    margin-left: 100px;
    text-align: center;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    font-family: Arial;
    font-size: 10pt;
    margin-top: 10px;
    border-radius: 10px;
}

#addToCart h1, #buy h1 {
    font-weight: 500;
}

#basketContentsBox, #checkoutBox {
    width: 600px;
    min-height: 300px;
    border-style: solid;
    margin: auto;
    border-width: 3px;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
    padding: 5px;
}

.basketItemBox {
    display: table;
    width: 590px;
    height: 50px;
    vertical-align: middle;
    border-collapse: separate;
    border-spacing: 5px;
    margin-left: -4px;
    margin-right: -10px;
}

.basketItem, #basketTotalBox {
    display: table-cell;
    height: 75px;
    width: 390px;
    border-style: solid;
    border-color: var(--secondary-color);
    border-width: 1px;
    border-radius: 10px;
    overflow: hidden;
    vertical-align: middle;
    border-spacing: 0;
    padding: 0;
}

#basketTotalBox {
    height: 75px;
    width: 590px;
    vertical-align: middle;
    margin-right: 10px;
}

#basketTotal {
    display: table;
    vertical-align: middle;
    height: 75px;
}

.basketItemInnerTable {
    display: table;
    vertical-align: middle;
    border-spacing: 0;
}

.basketItemImageBox {
    display: table-cell;
    height: 75px;
    width: 75px;
    background-image: url("placeholder-image.png");
    margin: 0;
    padding: 0;
}

.basketItemNameBox {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    width: 280px;
}

.basketQuantity {
    display: table-cell;
    vertical-align: middle;
} 

#basketTotalText, #basketTotalPrice {
    display: table-cell;
    height: 75px;
    padding-top: 20px; 
}

#basketTotalText {
    width: 455px;
    padding-left: 10px;
}


.basketQuantity, .basketItemNameBox h1, .basketItemPrice, #basketTotalText, #basketTotalPrice, #buyNowBox h1 {
    font-family: arial;
    font-weight: 750;
    color: var(--secondary-color);
}

.basketQuantity {
    padding-right: 10px;
}

.basketItemRemoveBox {
    border-style: solid;
    border-color: var(--secondary-color);
    border-radius: 10px;
    border-width: 1px;
    height: 75px;
    width: 75px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.basketItemPriceBox {
    border-style: solid;
    border-color: var(--secondary-color);
    border-radius: 10px;
    border-width: 1px;
    height: 77px;
    width: 130px;
    vertical-align: middle;
    padding-left: 15px;
    padding-top: 18px;
}

#buyNowBox, #checkoutButton {
    margin: auto;
    margin-top: 10px;
    width: 185px;
    height: 75px;
    text-align: center;
    padding-top: 16px;
    border-radius: 10px;
}

#paymentOptionsBox, #addressOptionsBox, #addressOptionsBox {
    display: table;
    overflow: hidden;
    width: 100%;
}

.paymentOption, .addressOption, .collectionOption {
    display: table-row;
    height: 40px;
}

.paymentOptionAcc, .addressOptionName, .paymentOptionButton, .addressOptionButton, .collectionOptionName, .collectionOptionButton {
    display: table-cell;
    vertical-align: middle;
    border-bottom: solid;
    border-color: var(--secondary-color);
}

.paymentOptionAcc, .addressOptionName, .collectionOptionName {
    width: 560px;
}

#checkoutButton {
    width: 200px;
    margin-bottom: 20px;
}

#orderCompleteBox {
    text-align: center;
    width: 400px;
    margin: auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 50px;
}

.buttonClickDown {
    animation-name: buttonClickDown;
    animation-duration: 0.30s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes buttonClickDown {
    60% {transform: translate3d(6px, 6px, 0); box-shadow: -6px -6px var(--secondary-color); border: none;}
    100% {transform: translate3d(3px, 3px, 0); box-shadow: -5px -5px var(--secondary-color); border: none;}
}

.buttonClickUp {
    animation-name: buttonClickUp;
    animation-duration: 0.40s;
    animation-timing-function: linear;
}

@keyframes buttonClickUp {
    0% {transform: translate3d(3px, 3px, 0); box-shadow: -5px -5px var(--secondary-color);}
    50% {transform: translate3d(-5px, -5px, 0); box-shadow: 7px 7px 0 var(--secondary-color);}
    100% {transform: translate3d(-2px, -2px, 0); box-shadow: 5px 5px 0 var(--secondary-color);}
}

.buttonReturn {
    animation-name: buttonReturn;
    animation-duration: 0.5s;
}

@keyframes buttonReturn {
    0% {transform: translate3d(-2px, -2px, 0); box-shadow: 5px 5px var(--secondary-color);}
    40% {transform: translate3d(1.5px, 1.5px, 0); box-shadow: -2px -2px var(--secondary-color);}
    80%,
    100% {transform: translate3d(0, 0, 0);}
}

.slideUp {
    animation-name: slideUp;
    animation-duration: 1.2s;
    animation-timing-function:cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

@keyframes slideUp {
    0% {transform: translateY(200%);}
    75% {transform: translateY(-7%);}
    100% {transform: translateY(0%);}
}

/* modal style used from 
   https://www.w3schools.com/howto/howto_css_modals.asp
*/

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#formBox {
    width: 600px;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 3px;
    padding: 15px;
    border-color: var(--secondary-color);
    margin-bottom: 20px;
}

#formHeading {
    font-family: arial;
    text-align:center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30pt;
}

.formContainer select {
    height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--secondary-color);
    width: 100%;
}

.formContainer input{
    width: 100%;
    height: 50px;
    font-family: arial;
    margin-bottom: 15px;
    border-radius: 7.5px;
    padding: 5px;
    font-size: 15pt;
    border-color: var(--secondary-color);
}

.formContainer select:focus, .formContainer input:focus {
    outline: none;
}

.formContainer label {
    font-family: arial;
    font-weight: 600;
}

.formContainer button {
    height: 50px;
    width: 100px;
    background: none;
    border: none;
    margin-left: 450px;
    font-family: arial;
    font-weight: 600;
    font-size: 15pt;
}

#alternateLogInBox {
    margin: auto;
    width: 400px;
    height: 50px;
    display: table;
    overflow: hidden;
    border-spacing: 20px;
}

#alternateLogInLeft, #alternateLogInRight {
    display: table-cell;
    text-align: center;
    height: 50px;
    width: 150px;
    padding-top: 18px;
    border-radius: 10px;
    font-family: arial;
    color: var(--secondary-color);
    font-weight: 550;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    padding: 0 15px; 
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    text-transform: uppercase;
    font-weight: bold;
}

tr:hover {
    background-color: #f9f9f9;
}

td {
    background-color: #fff;
}

/* Add things below to make table in payroll pretty */



/* styling for the remove button*/
.removeButton {
    background: none;
    border: none;
    font-size: 40px;
    color: red;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.removeButton:hover {
    color: darkred;
}

.urgent {
    color: red;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.section {
    margin-bottom: 30px;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    padding: 0 15px;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    text-transform: uppercase;
    font-weight: bold;
}

tr:hover {
    background-color: #f9f9f9;
}

td {
    background-color: #fff;
}
